body {
	font-family: "Comic Sans MS", cursive;
	background: linear-gradient(to bottom right, red, orange, yellow, green, blue, purple, violet);
}
#Header {
	margin: auto;
	position: sticky;
	top: 0;
	text-align: center;
	word-spacing: 30px;
	text-decoration: none;
}
#Login {
	padding: 100px 0;
	text-align: center;
}
a, a:visited {
	color: inherit;
	text-decoration: underline;
}
#Home {
	text-decoration: underline;
}
input {
	border: 2px solid black;
	border-radius: 5px;
	width: 25%;
	padding: 15px 0;
}
input:focus {
	background-color: #40E0D0;
	color: white;
}
