body {
	font-family: "Comic Sans MS", cursive;
	background: linear-gradient(to bottom right, red, orange, yellow, green, blue, purple, violet);
}
#content {
	display: none;
}
button {
	border-radius: 5px;
	background-color: #40E0D0;
	border-style: none;
	color: white;
	padding: 10px 100px;
	font-family: inherit;
}
a, a:visited {
	color: inherit;
	text-decoration: inherit;
}
#Home {
	text-decoration: underline;
}
#Header {
	right: 5;
	top: 0;
	position: absolute;
	color: white;
}
#menu {
	display: inline-block;
	margin: auto;
	position: absolute;
}
#menu:hover #content {
	display: block;
}
#Login {
	margin: 100px auto;
	text-align: center;
	background-color: #40E0D0;
	color: white;
	border: 2px solid black;
	border-radius: 5px;
	width: 50%;
	padding: 15px 0;
	font-family: "Courier", monospace;
}