#Header {
	margin: auto;
	position: sticky;
	top: 0;
	text-align: center;
	word-spacing: 30px;
	text-decoration: underline;
}
#Header2 {
	right: 5;
	top: 0;
	position: absolute;
	color: white;
}
a, a:visited {
	color: inherit;
}
body {
	font-family: "Comic Sans MS", cursive;
	background: linear-gradient(to bottom right, red, orange, yellow, green, blue, purple, violet);
}
#info {
	margin: auto;
	text-align: center;
}
p {
	font-size: 20px;
}
#Copyright {
	display: none;
	font-size: 10px;
}
#Copyright:hover {
	display: block;
}
#p {
	background-color: black;
	font-size: 100px;
}
#cant {
	color: black;
	position: relative;
	width: 50%;
	display: block;
	margin: 150px auto;
	overflow: hidden;
	font-size: 100px;
}
   @keyframes glitch-animation {
      0% {
        clip: rect(42px, 9999px, 1000px, 0);
      }
      5% {
        clip: rect(12px, 9999px, 950px, 0);
      }
      10% {
        clip: rect(48px, 9999px, 29px, 0);
      }
      15.0% {
        clip: rect(42px, 9999px, 73px, 0);
      }
      20% {
        clip: rect(63px, 9999px, 27px, 0);
      }
      25% {
        clip: rect(34px, 9999px, 55px, 0);
      }
      30.0% {
        clip: rect(86px, 9999px, 73px, 0);
      }
      35% {
        clip: rect(20px, 9999px, 2000px, 0);
      }
      40% {
        clip: rect(26px, 9999px, 60px, 0);
      }
      45% {
        clip: rect(25px, 9999px, 6600px, 0);
      }
      50% {
        clip: rect(57px, 9999px, 98px, 0);
      }
      55.0% {
        clip: rect(5px, 9999px, 46px, 0);
      }
      60.0% {
        clip: rect(82px, 9999px, 31px, 0);
      }
      65% {
        clip: rect(54px, 9999px, 27px, 0);
      }
      70% {
        clip: rect(28px, 9999px, 99px, 0);
      }
      75% {
        clip: rect(45px, 9999px, 69px, 0);
      }
      80% {
        clip: rect(23px, 9999px, 85px, 0);
      }
      85.0% {
        clip: rect(54px, 9999px, 84px, 0);
      }
      90% {
        clip: rect(45px, 9999px, 47px, 0);
      }
      95% {
        clip: rect(37px, 9999px, 2000px, 0);
      }
      100% {
        clip: rect(4px, 9999px, 91px, 0);
      }
    }
    @keyframes glitch-animation-2 {
      0% {
        clip: rect(65px, 9999px, 100px, 0);
      }
      5% {
        clip: rect(52px, 9999px, 74px, 0);
      }
      10% {
        clip: rect(79px, 9999px, 85px, 0);
      }
      15.0% {
        clip: rect(75px, 9999px, 5px, 0);
      }
      20% {
        clip: rect(67px, 9999px, 61px, 0);
      }
      25% {
        clip: rect(14px, 9999px, 79px, 0);
      }
      30.0% {
        clip: rect(1px, 9999px, 66px, 0);
      }
      35% {
        clip: rect(86px, 9999px, 30px, 0);
      }
      40% {
        clip: rect(23px, 9999px, 98px, 0);
      }
      45% {
        clip: rect(85px, 9999px, 72px, 0);
      }
      50% {
        clip: rect(71px, 9999px, 75px, 0);
      }
      55.0% {
        clip: rect(2px, 9999px, 48px, 0);
      }
      60.0% {
        clip: rect(30px, 9999px, 16px, 0);
      }
      65% {
        clip: rect(59px, 9999px, 50px, 0);
      }
      70% {
        clip: rect(41px, 9999px, 62px, 0);
      }
      75% {
        clip: rect(2px, 9999px, 82px, 0);
      }
      80% {
        clip: rect(47px, 9999px, 73px, 0);
      }
      85.0% {
        clip: rect(3px, 9999px, 27px, 0);
      }
      90% {
        clip: rect(26px, 9999px, 55px, 0);
      }
      95% {
        clip: rect(42px, 9999px, 97px, 0);
      }
      100% {
        clip: rect(38px, 9999px, 49px, 0);
      }
    }
#cant::before {
	animation: glitch-animation 2s infinite linear alternate-reverse;
	content: attr( data-text );
	position: absolute;
	background: black;
	text-shadow: -1px 0 black;
	left: -2px;
	overflow: hidden;
	clip:rect(0,900px,0,0);
	top: 0;
}
#cant::after {
	animation: glitch-animation-2 30s infinite linear alternate-reverse;
	content: attr( data-text );
	text-shadow: 1px 0 black;
	position: absolute;
	left: 2px;
	background: black;
	top: 0;
	clip:rect(0,900px,0,0);
	overflow: hidden;
}